*.sw?
.DS_Store
.env
fyne_metadata_init.go
/bounce
/bounce.exe
/Bounce.exe
/Bounce.apk
/build
/releases

/pkg/pkg
/pkg/src
/pkg/bounce
/pkg/bounce-bin
/pkg/bounce-go-arti

*.deb
*.tar.zst
pkg/debian

*.so
*.aar
*.apk
/android/app/build
