*.sw?
.DS_Store
.env
fyne_metadata_init.go
/bounce
/bounce.exe
/Bounce.exe
/Bounce.apk
/build
/releases

*.tar.zst
pkg/arch/bounce-bin/bounce
pkg/arch/bounce-bin/pkg
pkg/arch/bounce-bin/src
pkg/debian/bounce/usr/local/bin

android/activity/unzippedAPK
*.so
*.jar
*.aar
*.apk
