[Desktop Entry]
Type=Application
Version=1.5
Name=Bounce
Comment=A metadata-protecting distributed group chat application
Exec=/usr/bin/bounce
Icon=bounce
Terminal=false
Categories=Chat;Network;InstantMessaging;
