Package: bounce
Version: 0.1.0
Architecture: amd64
Maintainer: Hayden Parker <hayden@bounce.chat>
Description: A metadata-protecting distributed group chat application
Section: utils
Priority: optional
Depends: libc6, libwayland-client0, libwayland-cursor0, libwayland-egl1, libxkbcommon0, libgl1, libegl1
Recommends: dbus-x11
